<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project2.dao.UserResumeDao">

    <insert id="insertResume" parameterType="UserResume">
        INSERT INTO
            user_resumes (name,sex,age,edu_bg,phone,email,position,political,on_job,work_exp,salary,hobby)
        VALUES (#{name},#{sex},#{age},#{eduBg},#{phone},#{email},#{position},#{political},#{onJob},#{workExp},#{salary},#{hobby})
    </insert>

    <update id="updateResume" parameterType="UserResume">
        UPDATE
            user_resumes
        SET
            name=#{name},sex=#{sex},age=#{age},edu_bg=#{eduBg},phone=#{phone},email=#{email}, position=#{position},political=#{political},on_job=#{onJob},work_exp=#{workExp},salary=#{salary},hobby=#{hobby}
        WHERE
            id=#{id}
    </update>

    <select id="queryResume" resultType="UserResume">
        SELECT * FROM user_resumes WHERE id=#{id}
    </select>
</mapper>